@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    background-color: rgb(21, 21, 21);
}

/* start slider */


.projects .container img {
    vertical-align: middle;
}

.projects .container .mySlides img {
    width: 40%;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    overflow: hidden;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* end slider */

/* start header */
header {
    padding: 20px 100px 30px;
    background-image: url(img/pattern-rings.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -200px 135px;
    margin-bottom: 60px;
    height: 130vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a h1 {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

header nav a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a i {
    color: white;
    font-size: 25px;
}

header nav ul li a i:hover {
    color: rgb(78, 225, 160);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

header .content_header {
    display: flex;
    height: 100vh;
}

header .content_header .avatar {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

header .content_header .avatar img:last-child {
    width: 75%;
    position: relative;
    right: -54px;
}

header .content_header .avatar img:first-child {
    position: absolute;
    bottom: 135px;
    z-index: 2;
    right: 490px;
    width: 20%;
}

header .content_header .content {
    align-self: center;
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

header .content_header .content h1 {
    font-size: 95px;
    color: white;
    line-height: 80px;
}

header .content_header .content h1 span {
    font-size: 75px;
    color: white;
    border-bottom: 5px solid rgb(78, 225, 160);
}

header .content_header .content p {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.76);
}

header .content_header .content a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    border-bottom: 2px solid rgb(78, 225, 160);
    width: max-content;
    padding-bottom: 10px;
}

header .content_header .content a:hover {
    color: rgb(78, 225, 160);
    transition-duration: 0.4s;
}

/* end header */

/* start main */
main {
    padding: 0px 100px 50px;
    background-image: url(img/pattern-rings.svg);
    background-repeat: no-repeat;
    background-position: 980px 180px;
}

main .skills {
    border-top: 2px solid rgba(255, 255, 255, 0.678);
    border-bottom: 2px solid rgba(255, 255, 255, 0.678);

}

main .skills article {
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
}

main .skills ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.651);
    padding: 30px 0 50px;
    height: max-content;
}

main .skills h1 {
    padding-top: 20px;
    font-size: 60px;
    color: white;
}

main .skills ul li {
    padding: 10px;
}

main .skills ul li {
    color: white;
    font-size: 30px;
}

/* end main */
/* satrt projects */
.projects article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.projects article h1 {
    font-size: 60px;
    font-weight: 900;
    color: white;
    padding-top: 20px;
}

.projects article a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    border-bottom: 2px solid rgb(78, 225, 160);
    width: max-content;
    padding-bottom: 10px;
}

.projects article a:hover {
    color: rgb(78, 225, 160);
    transition-duration: 0.4s;
}

.projects .all_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.projects .all_box .box {
    width: 48%;
    /* border: 2px solid white; */
}

.projects .all_box .box .box_img img {
    width: 100%;
}

.projects .all_box .box .content {
    padding: 15px 0;
    color: white;
}

.projects .all_box .box .content p {
    color: rgba(255, 255, 255, 0.63);
}

/* end projects */

/* start footer */
footer {
    background-color: rgb(36, 36, 36);
    padding: 35px 100px 30px;
    background-image: url(img/pattern-rings.svg);
    background-repeat: no-repeat;
    background-position: -200px 340px;
    background-size: 35%;
}

footer .contact {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.712);
    padding-bottom: 70px;

}

footer .contact .content {
    align-self: center;
}

footer .contact .content h1 {
    font-size: 60px;
    color: white;
    padding-bottom: 10px;
}

footer .contact .content p {
    color: rgba(255, 255, 255, 0.733);
    width: 68%;
    line-height: 25px;
}

footer .form {
    width: 75%;
}

footer .form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

footer .form form * {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 15px;
    width: 100%;
    color: white;

}

footer .form form *:focus {
    border-color: rgb(78, 225, 160);
    transition-duration: 0.3;
}

footer .form form input::placeholder,
textarea::placeholder {
    color: white;
}

footer .form form a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    border-bottom: 2px solid rgb(78, 225, 160);
    width: max-content;
    align-self: flex-end;
}

footer .form form a:hover {
    color: rgb(78, 225, 160);
    transition-duration: 0.4s;
}

footer .bottom_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

footer .bottom_footer a h1 {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

footer .bottom_footer a {
    text-decoration: none;
}

footer .bottom_footer ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

footer .bottom_footer ul li a {
    text-decoration: none;
}

footer .bottom_footer ul li a i {
    color: white;
    font-size: 25px;
}

footer .bottom_footer ul li a i:hover {
    color: rgb(78, 225, 160);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

/* end footer */

/* start media screen */

@media screen and (max-width:284px) {
    header {
        padding: 20px;
        display: grid;
        gap: 406px;
        margin-bottom: 0;
        height: unset;
        background-size: 75%;
        background-position: -139px 226px;
    }

    header nav {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul {
        display: flex;
        gap: 15px;
    }

    header nav ul li a i {
        font-size: 20px;
    }

    header .content_header .avatar img:last-child {
        width: 221px;
        right: -38px;
    }

    header .content_header .avatar img:first-child {
        left: 201px;
        top: 218px;
        width: 38%;
    }

    header .content_header .avatar {
        width: 56%;
        position: absolute;
        top: 112px;
        right: 131px;
        z-index: -1;
    }

    header .content_header .content {
        width: 91vw;
        gap: 20px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    header .content_header .content h1 {
        font-size: 25px;
        color: white;
        line-height: normal;
        text-align: center;
    }

    header .content_header .content h1 span {
        font-size: 25px;
    }

    header .content_header .content p {
        text-align: center;
    }

    header .content_header .content a {
        align-self: center;
    }

    header .content_header {
        display: flex;
        height: max-content;
    }

    main {
        padding: 0;
    }

    main .skills article {
        gap: 0;
        flex-direction: column;
        text-align: center;
    }

    main .skills article ul {
        padding: 0;
    }

    main .skills ul li {
        color: white;
        font-size: 20px;
        padding: 4px;
    }

    main .skills {
        display: grid;
        gap: 12px;
        padding-bottom: 20px;
    }

    main .skills h1 {
        text-align: center;
        font-size: 40px;
    }

    .projects {
        padding: 20px;
    }

    .projects article h1 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .projects article a {
        display: none;
    }

    footer {
        padding: 20px;
    }

    footer .contact {
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.712);
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    footer .contact .content h1 {
        font-size: 40px;
        text-align: center;
    }

    footer .contact .content p {
        width: auto;
    }

    footer .form {
        width: 100%;
    }

    footer .bottom_footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0 0;
        gap: 9px;
    }

    footer .bottom_footer ul {
        gap: 10px;
    }

    footer .bottom_footer ul li a i {
        font-size: 20px;
    }
}

@media screen and (min-width:285px) and (max-width:450px) {
    header {
        padding: 20px;
        display: grid;
        gap: 406px;
        margin-bottom: 0;
        height: unset;
        background-size: 75%;
        background-position: -139px 226px;
    }

    header nav {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul {
        display: flex;
        gap: 15px;
    }

    header nav ul li a i {
        font-size: 20px;
    }

    header .content_header .avatar img:last-child {
        width: 221px;
        right: -47px;
        top: 22px;
    }

    header .content_header .avatar img:first-child {
        left: 201px;
        top: 218px;
        width: 38%;
    }

    header .content_header .avatar {
        width: 56%;
        position: absolute;
        top: 112px;
        right: 131px;
        z-index: -1;
    }

    header .content_header .content {
        width: 91vw;
        gap: 20px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    header .content_header .content h1 {
        font-size: 30px;
        color: white;
        line-height: normal;
        text-align: center;
    }

    header .content_header .content h1 span {
        font-size: 30px;
    }

    header .content_header .content p {
        text-align: center;
    }

    header .content_header .content a {
        align-self: center;
    }

    header .content_header {
        display: flex;
        height: max-content;
    }

    main {
        padding: 0;
    }

    main .skills article {
        gap: 0;
        flex-direction: column;
        text-align: center;
    }

    main .skills article ul {
        padding: 0;
    }

    main .skills ul li {
        color: white;
        font-size: 20px;
        padding: 4px;
    }

    main .skills {
        display: grid;
        gap: 12px;
        padding-bottom: 20px;
    }

    main .skills h1 {
        text-align: center;
        font-size: 40px;
    }

    .projects {
        padding: 20px;
    }

    .projects article h1 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .projects article a {
        display: none;
    }

    footer {
        padding: 20px;
    }

    footer .contact {
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.712);
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    footer .contact .content h1 {
        font-size: 40px;
        text-align: center;
    }

    footer .contact .content p {
        width: auto;
    }

    footer .form {
        width: 100%;
    }

    footer .bottom_footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0 0;
        gap: 9px;
    }

    footer .bottom_footer ul {
        gap: 10px;
    }

    footer .bottom_footer ul li a i {
        font-size: 20px;
    }
}

@media screen and (min-width:451px) and (max-width:650px) {
    header {
        padding: 20px;
        display: grid;
        gap: 41rem;
        margin-bottom: 0;
        height: 193vh;
        background-size: 75%;
        background-position: -240px 312px;
    }

    header nav {
        flex-direction: column;
        gap: 15px;
        justify-content: normal;
    }

    header nav ul {
        display: flex;
        gap: 15px;
    }

    header nav ul li a i {
        font-size: 30px;
    }

    header .content_header .avatar img:last-child {
        width: 350px;
        right: 17px;
        top: 22px;
    }

    header .content_header .avatar img:first-child {
        left: 302px;
        top: 280px;
        width: 26%;
    }

    header .content_header .avatar {
        width: 56%;
        position: absolute;
        top: 112px;
        right: 131px;
        z-index: -1;
    }

    header .content_header .content {
        width: 91vw;
        gap: 20px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    header .content_header .content h1 {
        font-size: 48px;
        color: white;
        line-height: normal;
        text-align: center;
    }

    header .content_header .content h1 span {
        font-size: 47px;
    }

    header .content_header .content p {
        text-align: center;
    }

    header .content_header .content a {
        align-self: center;
    }

    header .content_header {
        display: flex;
        height: max-content;
    }

    main {
        padding: 0;
    }
    main .skills{
        padding: 20px;
    }
    main .skills article {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        gap: 0;
    }

    main .skills article ul {
        padding: 0;
    }

    main .skills ul li {
        color: white;
        font-size: 20px;
        padding: 4px;
    }

    main .skills {
        display: grid;
        gap: 12px;
        padding-bottom: 20px;
    }

    main .skills h1 {
        text-align: center;
        font-size: 40px;
        padding: 0;
    }

    .projects {
        padding: 20px;
    }

    .projects article h1 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .projects article a {
        display: none;
    }

    footer {
        padding: 20px;
    }

    footer .contact {
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.712);
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    footer .contact .content h1 {
        font-size: 40px;
        text-align: center;
    }

    footer .contact .content p {
        width: auto;
    }

    footer .form {
        width: 100%;
    }

    footer .bottom_footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 0 0;
        gap: 9px;
    }

    footer .bottom_footer ul {
        gap: 10px;
    }

    footer .bottom_footer ul li a i {
        font-size: 20px;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {
    header {
        padding: 40px;
        display: grid;
        gap: 51rem;
        margin-bottom: 0;
        height: 225vh;
        background-size: 60%;
        background-position: -280px 352px;
    }

    header nav {
        flex-direction: row;
        justify-content: space-between;
        width: 64%;
        margin: auto;
    }

    header nav ul {
        display: flex;
        gap: 15px;
    }

    header nav ul li a i {
        font-size: 25px;
    }

    header .content_header .avatar img:last-child {
        width: 450px;
        right: 35px;
        top: 22px;
    }

    header .content_header .avatar img:first-child {
        left: 348px;
        top: 322px;
        width: 24%;
    }

    header .content_header .avatar {
        width: 56%;
        position: absolute;
        top: 112px;
        right: 131px;
        z-index: -1;
    }

    header .content_header .content {
        width: 93vw;
        gap: 20px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    header .content_header .content h1 {
        font-size: 48px;
        color: white;
        line-height: normal;
        text-align: center;
    }

    header .content_header .content h1 span {
        font-size: 47px;
    }

    header .content_header .content p {
        text-align: center;
    }

    header .content_header .content a {
        align-self: center;
    }

    header .content_header {
        display: flex;
        height: 100%;
        justify-content: center;
    }

    main {
        padding: 0;
    }
    main .skills{
        padding: 40px;
    }
    main .skills article {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        gap: 0;
    }

    main .skills article ul {
        padding: 0;
    }

    main .skills ul li {
        color: white;
        font-size: 20px;
        padding: 4px;
    }

    main .skills {
        display: grid;
        gap: 12px;
    }

    main .skills h1 {
        text-align: center;
        font-size: 40px;
        padding: 0;
    }

    .projects {
        padding: 40px;
    }

    .projects article h1 {
        font-size: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .projects article a {
        display: none;
    }

    footer {
        padding: 40px;
    }

    footer .contact {
        display: flex;
        border-bottom: 2px solid rgba(255, 255, 255, 0.712);
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    footer .contact .content h1 {
        font-size: 40px;
        text-align: center;
    }

    footer .contact .content p {
        width: auto;
    }

    footer .form {
        width: 80%;
    }

    footer .bottom_footer {
        flex-direction: row;
        align-items: center;
        padding: 20px 0 0 0;
    }

    footer .bottom_footer ul {
        gap: 10px;
    }

    footer .bottom_footer ul li a i {
        font-size: 30px;
    }
}

@media screen and (min-width:1001px) and (max-width:1350px){
    header{
        background-position: -199px 168px;
        height: 155vh;
        margin: 0;
    }
    header .content_header .content h1 {
        font-size: 73px;
        color: white;
        line-height: 80px;
    }
    header .content_header .content h1 span {
        font-size: 68px;
        color: white;
        border-bottom: 5px solid rgb(78, 225, 160);
    }
    header .content_header .content p {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.76);
        width: 49vw;
    }
    header .content_header .avatar img:first-child{
        right: 31px;
    }
    main{
        background-position: 856px 44px;
    }
    main .skills article {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        gap: 0;
    }
    footer .form {
        width: 116%;
    }
    footer .contact .content {
        align-self: center;
        width: max-content;
    }
    footer .contact .content h1 {
        font-size: 60px;
        color: white;
        padding-bottom: 10px;
        width: max-content;
        display: inline-block;
    }
    footer .contact .content p {
        color: rgba(255, 255, 255, 0.733);
        width: 68%;
        line-height: 25px;
        display: inline-block;
    }

}


/* end media screen */